# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Database files
*.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor files
.vscode/
*.sublime-project
*.sublime-workspace

# Django media files
media/
*.docx
