{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Proventos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Papel</th>
                <th>Data Com</th>
                <th>Data Pagamento</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Por Quantas Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for provento in proventos %}
            <tr>
                <td>{{ provento.papel }}</td>
                <td>{{ provento.get_data_com_formatted }}</td>
                <td>{{ provento.get_data_pagamento_formatted }}</td>
                <td>{{ provento.tipo_provento }}</td>
                <td>{{ provento.valor_provento }}</td>
                <td>{{ provento.por_quantas_acoes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
