{% extends 'base.html' %}
{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col">
            <div class="br-page-title">
                <h1>Transações</h1>
            </div>
            <div class="mb-3">
                <a href="{% url 'transacao_create' %}" class="br-button primary">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                    Nova Transação
                </a>
            </div>
            {{ grid_content|safe }}
        </div>
    </div>
</div>
{% endblock %}
